<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>选择律师</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div id="app">
			<div class="filtrate">
				<div class="">
					<label id='showCityPicker'>所在地区</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="">
					<label id='showLikesPicker'>擅长领域</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="">
					<label id='showCapacityPicker'>智能排序</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
			</div>
			<div class="filtrate-con">
				<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
					<div class="" v-if="lawyerlist.length !=0">
						<div class="recom-item" v-for="item in lawyerlist" :key="item.id" :id="item.id">
							<div class="head-img">
								<img :src=imgurl+item.headImgUrl>
							</div>
							<div class="infor">
								<div class="intro">
									<div class="nameprice">
										<p class="intro-name" :id="item.id">{{item.nickname}}</p>
										<div class="m-radio">
											<label class="orangecolor">{{item.price}}元</label>
											<input name="radio" type="radio" :value="item.price" class="rds" :id="item.id" onclick='getVals(this)'>
										</div>
									</div>
									<p class="intro-city">{{item.areaName}}</p>
									<p class="intro-company">{{item.lawfirm}}</p>
								</div>
								<div class="tags">
									<span class="tag" v-for="tag in item.fieldList" :key="tag">{{tag}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="" v-if="lawyerlist.length==0">
						<p class="nodata">暂无数据</p>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init({
				swipeBack: false, //启用右滑关闭功能
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style:'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
					console.log('下')
				setTimeout(function() {
					lawyerlist(options.token,options.pubtype,0,10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit*1+10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					lawyerlist(options.token,options.pubtype,options.offset,options.limit)
				}, 1500);
			}
			var options = new Vue({
				el: '#app',
				data: {
					lawyerlist: [],
					lawyertype: [],
					token:"",
					type: '',
					comid: '',
					order: '',
					offset:0,
					limit:10,
					pubtype:''
				},
				methods: {

				}
			});
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				var self = plus.webview.currentWebview();
					options.pubtype = self.typeid;
					console.log(options.pubtype)
					lawyerlist(token,self.typeid,0,10)
			});
			// 获取单选框
			function getVals(event) {
				var yid = ($(event).attr("id"))
				var res = getRadioRes('rds');
				if (res == null) {
					mui.toast('请选择');
					return;
				} else {
					//获取父页面A.html
					if(options.pubtype==4){
					var main = plus.webview.getWebviewById("publishht.html");
						
					}else if(options.pubtype==5){
						var main = plus.webview.getWebviewById("publishhtdz.html");
					}else if(options.pubtype==3){
						var main = plus.webview.getWebviewById("publishlsh.html");
					}
					//自定义事件,事件名为changeCity
					mui.fire(main, 'chooselawyer', {
						price: res,
						yid:yid
					});
					//关闭子页面
					mui.back();

				}
			}

			function getRadioRes(className) {
				var rdsObj = document.getElementsByClassName(className);
				var chackVal = null;
				for (i = 0; i < rdsObj.length; i++) {
					if (rdsObj[i].checked) {
						chackVal = rdsObj[i].value;
					}
				}
				return chackVal;
			}
			// 律师详情
			mui(".filtrate-con").on("tap", ".intro-name", function() {
				var lawyerid = this.getAttribute('id');
				mui.openWindowWithTitle({
					url: "lawyerdetails.html",
					id: "lawyerdetails.html",
					styles: {},
					extras: {
						// 打开页面的同时，向新页面传递数据。
						lawyerid: lawyerid
					}
				}, {
					//标题栏的背景色和底边线配置
					backgroundColor: "#267CFB",
					bottomBorderColor: "#267CFB",
					title: {
						//标题文字的内容和样式配置
						text: "律师详情",
						styles: {
							color: "#fffff"
						}
					},
					back: {
						image: {
							/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
							imgSrc: "../images/wleft-icon.png"
						}
					}
				})
			});

			// 律师列表
			function lawyerlist(token,serviceId,offset,limit) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflTypes/getSelectLawyerList",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'serviceId':serviceId,
						'offset': offset,
						'limit': limit,
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.lawyerlist = data.datas.data;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
		</script>

	</body>
</html>
