<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的回答</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="myanswers" id="app">
			<div class="mui-content answer-item"  v-if="datalistans.length!=0" v-for="item in datalistans" :key="item.id">
				<h4 class="news-title" style="width: 90%;"><em>#{{item.typeName}}#</em>{{item.title}}</h4>
				<div class="menu">
					<div class="menubtn" :id="item.id"><img src="../images/menu.png"></div>
				</div>
				<div class="hot-num">{{item.updateTime}}</div>
				<div class="answer-con" v-html="item.content"></div>
			</div>
			<div class="mui-text-center" v-if="datalistans.length==0">
				<p>暂无数据</p>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				getans(token);
				// 删除
			});

			var options = new Vue({
				el: '#app',
				data: {
					datalist: '',
					datalistans: '',
					token:''
				},
				methods: {

				}
			});
			mui('.myanswers').on('tap', '.menubtn', function() {
				var infoid = this.getAttribute('id');
				mui.confirm('删除该条发布？', '删除发布', ['取消', '确认'], function(e) {
					if (e.index == 1) {
						delpublish(options.token, infoid)
					}
				}, 'div')
			})
			// 删除回答
			function delpublish(token, infoid) {
				mui.ajax({
					type: 'DELETE',
					url: baseurl + "client/mfflInformations/delMyReply?replyId=" + infoid,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast('删除成功')
							getans(options.token);
						} else {
							mui.toast(data.message);
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
			// 获取我的回答
			function getans(token) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflInformations/getMyReply",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datalistans = data.datas;
						} else {
							mui.toast(data.message);
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
		</script>
	</body>

</html>
