<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>专业咨询详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<style type="text/css">
			#div {
				width: 0px;
				height: 0px;
				background: red;
				position: fixed;
				top: 70%;
				left: 50%;
			}

			#sendword {
				max-height: 196px;
				position: absolute;
				left: 10% !important;
				width: 80%;
				border-radius: 5px;
			}

			.mui-bottom {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="myorderlistdetials" id="app">
			<div class="numbox">
				<div class="ordernumber">订单编号：{{datadetails.payMerchantNumber}}</div>
				<div class="bluecolor">复制</div>
			</div>
			<div class="myorderdesc  mui-content">
				<div class="user-info" v-if="datadetails.userinfo">
					<div class="user-box">
						<div class="user-head" v-if="datadetails.userinfo"><img :src=imgurl+datadetails.userinfo.headImgUrl></div>
						<div class="user-type">{{datadetails.userinfo.identity==0?"用户":"律师"}}</div>
						<div class="user-name">{{datadetails.userinfo.nickname}}</div>
					</div>
					<div class="hot-box">
						<div class="hot-num">{{datadetails.updateTime}}</div>
					</div>
				</div>
				<div class="ordertype">
					<div class="tags">
						<span class="tag">{{datadetails.typename}}</span>
					</div>

					<div class="orderstatus orangecolor"><em class="orangecolor">悬赏{{datadetails.money}}元</em>
						{{datadetails.state==0?"未完成":"已完成"}}</div>
				</div>
				<div class="descitem">
					<label>问题内容</label>
					<div v-html="datadetails.content"></div>
					<div class="news-show" v-if="datadetails.imageUrl!=''">
						<div class="news-img" v-for="imgitem in (datadetails.imageUrl || '').split(';')" :key="imgitem">
							<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
						</div>
					</div>
				</div>
				<div class="descitem">
					<label>对方态度</label>
					<div v-html="datadetails.defendantAttitude"></div>
					<div class="news-show" v-if="datadetails.defendantUrl!=''">
						<div class="news-img" v-for="imgitem in (datadetails.defendantUrl || '').split(';')" :key="imgitem">
							<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
						</div>
					</div>
				</div>
				<div class="descitem">
					<label>我的诉求</label>
					<div>
						<p>{{datadetails.myAppeal}}</p>
					</div>
				</div>
			</div>
			<div class="br">—— 律师解答 ——</div>
			<div class="">
				<div class="lawyeransitem" v-for="item in  datadetails.replyList" :key="item.id">
					<div class="user-info">
						<div class="user-box">
							<div class="user-head"><img :src=imgurl+item.userinfo.headImgUrl></div>
							<div class="user-type">{{item.userinfo.identity==0?"用户":"律师"}}</div>
							<div class="user-name">{{item.userinfo.nickname}}</div>
						</div>
						<div class="hot-box">
							<div class="hot-num">{{item.userinfo.updateTime}}</div>
						</div>
					</div>
					<div class="">
						<p class="anscontent">{{item.reply}}</p>
						<div class="answersecond">
							<div class="answeritme" v-for="second in item.consultationReplyList" :key="second.id">
								<div class="user-info">
									<div class="user-name bluecolor">{{second.userinfo.nickname}}</div>
									<div class="hot-num">{{second.updateTime}}</div>
								</div>
								<div class="">
									<p>回复<em class="bluecolor">{{item.userinfo.nickname==second.userinfo.nickname?datadetails.userinfo.nickname:item.userinfo.nickname}}：</em>{{second.reply}}</p>
								</div>
							</div>
						</div>
						<div class="dataaction">
							<div class="databox ask" :ansid="datadetails.id" :appendid="item.id">
								<div class="dataicon"><img src="../images/ask.png"></div>
								<div>追问
									<i>{{item.replynumber}}</i>
								</div>
							</div>
							<div class="databox dsbtn" :ansid="datadetails.id" :qid="item.id" :info="JSON.stringify(item.userinfo)">
								<div class="dataicon"><img src="../images/pay.png"></div>
								<div>打赏
									<i>{{item.rewardnumber}}</i>
								</div>
							</div>
							<div class="databox dialog" :sendId="item.userinfo.id" :name="item.userinfo.nickname">
								<div class="dataicon"><img src="../images/Consultation1.png"></div>
								<div>咨询</div>
							</div>
							<div class="databox cainabtn" :ansid="datadetails.id" :bestid="item.id">
								<div class="dataicon" v-if="!item.best_answer_id"><img src="../images/caina1.png"></div>
								<div class="dataicon" v-if="item.best_answer_id"><img src="../images/caina.png"></div>
								<div>采纳ta</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="div"></div>
			<div id="sendword" class="mui-popover">
				<div class="">
					<textarea rows="6" cols="" id="lsjy"></textarea>
				</div>
				<div class="likebtn">
					<div class="cancel">取消</div>
					<div class="savebtn" id="pubtalk">发送</div>
				</div>
			</div>
			<!-- 			<div class="mui-content pubbox mui-hidden" id="pubipt">
				<div class="iptbox">
					<input type="text" placeholder="说点什么" id="saytext">
				</div>
				<div class="pubbtnbox">
					<button type="button" class="mui-btn mui-btn-blue" id="pubtalk">发布</button>
				</div>
			</div> -->
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.previewImage();
			mui.init({
				beforeback: function() {
					//获得父页面的webview
					var list = plus.webview.currentWebview().opener();
					//触发父页面的自定义事件(refresh),从而进行刷新
					mui.fire(list, 'refreshes');
					//返回true,继续页面关闭逻辑
					return true;
				}
			});
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				var self = plus.webview.currentWebview();
				var infoid = self.yid;
				options.token = token;
				options.infoid = infoid;
				getdetails(token, infoid)
				// 采纳
				mui('body').on('tap', '.cainabtn', function() {
					var ansid = this.getAttribute('ansid');
					var bestid = this.getAttribute('bestid');
					var btnArray = ['是', '否'];
					mui.confirm('确定采纳此评论?', '', btnArray, function(e) {
						if (e.index==0) {
							setbestans(token, ansid, bestid);
							getdetails(token, infoid);
						}
					})
				});
				// 取消发布
				mui('body').on('tap', '.cancelbtn', function() {
					var id = this.getAttribute('id');
					var btnArray = ['是', '否'];
					mui.confirm('确定取消发布?', '', btnArray, function(e) {
						if (e.index==0) {
							cancel(token, id);
						}
					})
				})
				// 追问
				mui('body').on('tap', '.ask', function() {
					// document.getElementById("pubipt").classList.remove('mui-hidden');	
					mui("#sendword").popover('toggle', document.getElementById("div"));
					var ansid = this.getAttribute('ansid');
					var appendid = this.getAttribute('appendid');
					options.ansid = ansid;
					options.appendid = appendid;
				});
				var originalHeight = document.documentElement.clientHeight || document.body.clientHeight;
				window.onresize = function() {
					//软键盘弹起与隐藏  都会引起窗口的高度发生变化
					var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;
					console.log(resizeHeight)
					if (resizeHeight * 1 < originalHeight * 1) { //resizeHeight<originalHeight证明窗口被挤压了
						plus.webview.currentWebview().setStyle({
							height: originalHeight*1+44
							
						});
					}
				};
				mui('body').on('tap', '.cancel', function() {
					mui("#sendword").popover('toggle', document.getElementById("div"));
				})
				// // 联系律师
				mui(".myorderlistdetials").on("tap", ".dialog", function() {
					var sendId = this.getAttribute("sendId");
					var newname = this.getAttribute("name");
					mui.ajax({
						type: 'post',
						url: baseurl + "client/mfflChatContents/setStartTime",
						dataType: "json",
						beforeSend: function(XMLHttpRequest) {
							XMLHttpRequest.setRequestHeader(
								"token", options.token
							);
						},
						headers: {
							'contentType': "application/x-www-form-urlencoded",
							'token': options.token
						},
						data: {
							'receiveId': sendId,
						},
						success: function(data) {
							console.log(data)
							if (data.errCode == 200) {
								mui.openWindow({
									url: "dialog.html",
									id: "dialog.html",
									styles: {},
									extras: {
										// 打开页面的同时，向新页面传递数据。
										sendId: sendId,
										name:newname
									}
								})
							} else {
								mui.toast(data.message)
							}
						},
						error: function(err) {
							console.log(err)
						}
					})
				});
			})

			mui('body').on('tap', '#pubtalk', function() {
				var text = document.getElementById('lsjy').value;
				text=text.replace( /^\s*/, '');
				if(text==''){
					mui.toast('请输入内容')
					return false;
				}
				addans(options.token, options.ansid, options.appendid, text)
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: {},
					otherdetails: [],
					infoid: '',
					token: '',
					ansid: '',
					appendid: ''
				},
				methods: {
					gohome: function() {

					}
				}
			});
			// 获取详情
			function getdetails(token, infoid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflConsultations/" + infoid,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datadetails = data.datas;
						} else {
							mui.toast(data.message);
							mui.back();
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 设置最佳答案
			function setbestans(token, ansid, bestid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflConsultations/setbestanswer",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': ansid,
						'bestanswerid': bestid
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast("设置成功！");
							getdetails(options.token, options.infoid)
						} else {
							mui.toast(data.message);
							mui.back();
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 追评text
			function addans(token, ansid, appendid, text) {
				mui.ajax({
					type: 'post',
					url: baseurl + "client/mfflConsultations/replyconsultation",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'consultationid': ansid,
						'appendid': appendid,
						'reply': text
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast("评论成功！");
							getdetails(options.token, options.infoid);
							mui("#sendword").popover('toggle', document.getElementById("div"));
						} else {
							mui.toast(data.message);
							mui.back();
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 打赏
			mui("body").on("tap", ".dsbtn", function() {
				var qid = this.getAttribute('qid');
				var info = this.getAttribute('info');
				var ansid = this.getAttribute('ansid');
				mui.openWindow({
					url: "myorderdetailsds.html",
					id: "myorderdetailsds.html",
					show: {
						// // autoShow: false
					},
					styles: {
						titleNView: { // 窗口的标题栏控件
							autoBackButton: true,
							titleText: "打赏",
							titleColor: "#ffffff",
							titleSize: "16px",
							backgroundColor: "#267CFB",
							progress: { // 标题栏控件的进度条样式
								color: "#2E82FF",
								height: "2px"
							},
							// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
							// 	color: "#CCCCCC",
							// 	height: "1px"
							// }
						}
					},
					extras: {
						qid: qid,
						info: info,
						ansid: ansid
					}
				});
			});
			// 取消发布
			function cancel(token, id) {
				mui.ajax({
					type: 'DELETE',
					url: baseurl + "client/mfflConsultations/" + id,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast('取消成功！')
							datalist(options.token);
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
			// 修改内容
			mui('body').on('tap', '.changebtn', function() {
				var yid = this.getAttribute('id');
				mui.openWindow({
					url: "mychangezyzx.html",
					id: "mychangezyzx.html",
					show: {
						// // autoShow: false
					},
					styles: {
						titleNView: { // 窗口的标题栏控件
							autoBackButton: true,
							titleText: "专业咨询修改",
							titleColor: "#000000",
							titleSize: "16px",
							backgroundColor: "#ffffff",
							progress: { // 标题栏控件的进度条样式
								color: "#2E82FF",
								height: "2px"
							},
							// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
							// 	color: "#CCCCCC",
							// 	height: "1px"
							// }
						}
					},
					extras: {
						yid: yid
					}
				});
			});
		</script>
	</body>

</html>
