<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>我的发布</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="mycollect" id="app">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron" v-if="datalist.length!=0">
						<li class=" news-item one-img" v-for="item in datalist" :key="item.id">
							<h4 class="news-title" :id="item.id" style="width: 90%;"><em>#{{item.typeName}}#</em>{{item.title}}</h4>
							<div class="menu">
								<div class="menubtn" type='0'><img src="../images/menu.png"></div>
								<ul class="meunlist">
									<li class="changebtn" :id="item.id">修改</li>
									<li class="deletebtn" :id="item.id">删除</li>
								</ul>
							</div>
							<div class="news-show" v-if="item.imageUrl!=''">
								<div class="news-img" v-for="imgitem in item.imageUrl.split(';')" :key="imgitem">
									<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
								</div>
							</div>
							<div class="news-show">
								<p class="news-content">{{item.partialContent}}</p>
							</div>
							<div class="user-info">
								<div class="user-box">
									<div class="user-head"><img :src=imgurl+item.headImgUrl></div>
									<div class="user-type">{{item.identity==0?"用户":"律师"}}</div>
									<div class="user-name">{{item.nickname}}</div>
								</div>
								<div class="hot-box">
									<div class="news-icon"><img src="../images/hot.png"></div>
									<div class="hot-num">{{item.hot}}</div>
								</div>
							</div>
						</li>
						<li></li>
					</ul>
					<div class="nodata" v-if="datalist.length==0">暂无数据</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.previewImage();
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				getdetails(token);
				getans(token);
				// 菜单
				mui('.mycollect').on('tap', '.menubtn', function() {
					var type = this.getAttribute('type');
					var node = this.nextSibling;
					while (node.nodeType == 3) {
						node = node.nextSibling;
					}
					if (type == 1) {
						node.style.display = "none"
						this.setAttribute('type', '0');
					} else {
						node.style.display = "block"
						this.setAttribute('type', '1');
					}
				});
				// 修改
				mui('.mycollect').on('tap', '.changebtn', function() {
					var parentnode = this.parentNode;
					parentnode.style.display = "none";
					parentnode.previousElementSibling.setAttribute('type', '0');
					var infoid = this.getAttribute('id');
					mui.openWindow({
						url: "changepublishtalk.html",
						id: "changepublishtalk.html",
						show: {
							// // autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "话题修改",
								titleColor: "#000000",
								titleSize: "16px",
								backgroundColor: "#ffffff",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							infoid: infoid
						}
					});
				})
				// 删除
				mui('.mycollect').on('tap', '.deletebtn', function() {
					var parentnode = this.parentNode;
					parentnode.style.display = "none";
					parentnode.previousElementSibling.setAttribute('type', '0');
					var infoid = this.getAttribute('id');
					mui.confirm('删除该条发布？', '删除发布', ['取消', '确认'], function(e) {
						if (e.index == 1) {
							delpublish(options.token, infoid)
						}
					}, 'div')
				})
			});

			var options = new Vue({
				el: '#app',
				data: {
					datalist: '',
					datalistans: '',
					token: ''
				},
				methods: {

				}
			});
			mui(".mycollect").on("tap", "li h4", function() {
				var infoid = this.getAttribute("id");
				mui.openWindow({
					url: "newsdetails.html",
					id: "newsdetails.html",
					show: {
						// // autoShow: false
					},
					styles: {
						titleNView: { // 窗口的标题栏控件
							autoBackButton: true,
							titleText: "资讯详情",
							titleColor: "#000000",
							titleSize: "16px",
							backgroundColor: "#ffffff",
							progress: { // 标题栏控件的进度条样式
								color: "#2E82FF",
								height: "2px"
							},
							// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
							// 	color: "#CCCCCC",
							// 	height: "1px"
							// }
						}
					},
					extras: {
						infoid: infoid
					}
				});
			});
			// 删除发布
			function delpublish(token, infoid) {
				mui.ajax({
					type: 'DELETE',
					url: baseurl + "client/mfflInformations/delMyInformation?informationId=" + infoid,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast('删除成功')
							getdetails(options.token);
						} else {
							mui.toast(data.message);
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
			// 获取我的发布
			function getdetails(token) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflInformations/getMyInformation",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datalist = data.datas;
						} else {
							mui.toast(data.message);
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 获取我的回答
			function getans(token) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflInformations/getMyReply",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datalistans = data.datas;
						} else {
							mui.toast(data.message);
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
		</script>
	</body>

</html>
